@import 'variables';

body.dark{
    background-color: $dark-color;
    border-top: 5px solid;
    border-bottom: black 5px solid;
}

body.dark footer{
    background-color: $dark-color;
}

body.dark .text{
    color: $dark-color;
}

#trending.dark-bg {
    background-color: $trending-bg-color-dark;
}

#input-ctn.dark-border #search{
    background: $dark-color;
    border: white 1px solid;
}