footer{
    width: 100%;
    height: 180px;
    padding: 50px 40px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: 1220px){
        justify-content: space-between;
    }
    p{
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 20px;
        color: black;
        text-align: center;
        font-family: 'Roboto-Regular', sans-serif;
     
    }
    ul{
        @media screen and(min-width: 1220px){
            display: flex;
            width: 100%;
            margin-left: 100px;
            margin-right: 100px;
            .copyRightText{
                width: 100%;
                margin-left: 500px;
            }
            .shareSocialNet{
                width: 100%;
                margin-right: 50px;
            }
        }
        li{
            display: inline;
            a{
                padding-right: 30px;
                color: $footer-color;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}