$light-color: #FFFFFF;
$dark-color: #37383C;
$text-blue-bg-color: #572EE5;
$text-black-bg-color: #000000;
$green-color: #50E3C2;
$trending-bg-color: #F3F5F8;
$trending-bg-color-dark: #222326;
$footer-color: #CDD6E0;
